# LaTeX
*.out
*.aux
*.log
doc/proposal/*.pdf
doc/presentation/*.pdf
doc/report/*.pdf
*.nav
*.snm
*.toc
*.synctex.gz
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist

# Python Environments
.env

# Tox cache
.tox

# Python bytecode
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
