# LaTeX
*.out
*.aux
*.log
doc/proposal/*.pdf
doc/presentation/*.pdf
*.nav
*.snm
*.toc
*.synctex.gz
*.bbl
*.blg
*.fls
*.fdb_latexmk

# Python Environments
.env

# Tox cache
.tox

# Python bytecode
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
